[2021-01-19 18:30] ThomsonTan opened #2 "Create initial layout of directories"
As we are going to create some examples in the contrib repo, and planning to put more projects here, let's create the initial directories layout.

[2021-02-11 08:44] seemk opened #4 "nginx module"
Hi,

I would like to contribute an nginx module which is based on opentelemetry-cpp. Would this repository be the right place?

What would the the directory structure be - each contribution in a subdirectory or would each contrib be a submodule?

With each contrib's code in a separate directory (i.e. a huge monorepo) my hunch is that handling issues might be a bit more complicated down the line. A

[2021-02-11 10:17] lalitb commented on #4
My suggestion would be to have single mono-repo with below set of sub-directories to start with:
  - instrumentation
  -  exporters
  - propagators

And the under Instrumentation, we can have further:
- instrumentation/nginx
- instrumentation/apache
- instrumentation/grpc

I do understand it would be difficult to manage them down the line as the contributions increases, and that time we can decide

[2021-02-11 11:38] lalitb commented on #4
Meanwhile, I would suggest you to raise a PR as discussed above, and let others comment over there.

[2021-02-15 13:26] seemk commented on #4
Thanks @lalitb , I've opened a PR: https://github.com/open-telemetry/opentelemetry-cpp-contrib/pull/5

[2021-02-15 13:26] #4 closed

[2021-03-01 22:53] #2 closed

[2021-03-25 15:09] iNikem opened #9 "Add CODEOWNERS file"
This repo does not have CODEOWNERS file at the moment. Among other things this means that newly created PRs do not have any default reviewers assigned. Which leads, I believe, to a very long review process.

[2021-03-30 13:40] seemk opened #11 "Releases, versioning"
How should we release different contrib projects?

nginx now (#10) builds release binaries for different platforms and I'd like expose these artifacts via Github releases.
Should each project have it's own version tag? E.g. `nginx-0.1.0` and `httpd-0.1.0` so when the tag is created a GH release will be available.

[2021-03-30 19:01] lalitb commented on #11
I will vote for this. Each project within repo should have separate version tags and releases.

[2021-04-06 17:27] seemk commented on #11
If we are ok with this, I'll do a release for `nginx-0.1.0`, it will provide the nginx module binaries as part of the release.

[2021-04-06 17:33] lalitb commented on #11
Looks good to me.

[2021-04-07 05:39] seemk commented on #11
Looks like I can't do it in this repo - no `Create a new release` button available :slightly_frowning_face: Access rights I presume

[2021-04-07 05:40] seemk commented on #9
There is now: https://github.com/open-telemetry/opentelemetry-cpp-contrib/blob/main/.github/CODEOWNERS

Can be closed now

[2021-04-07 06:35] #9 closed

[2021-04-07 07:37] lalitb commented on #11
Ok, I think @maxgolov is the admin of this repo and can give you write access to create a release. And probably I am getting write access through the `cpp-contrib-approvers` group. I did try adding you to the group earlier but seems need to be a member of opentelemetry org for that.
You can raise a ticket to be a member (example) : https://github.com/open-telemetry/community/issues/647 . I can be

[2021-04-07 08:22] seemk commented on #11
Thanks! Created a request: https://github.com/open-telemetry/community/issues/699

[2021-04-08 18:49] lalitb commented on #11
Have added you to `cpp-contrib-approvers`. Don't think if that will help, need to wait for @maxgolov next week for right permissions.

[2021-04-12 14:52] bogdandrutu opened #15 "Remove LICENSE files from sub-directories"

[2021-04-14 11:41] teuno opened #16 "Docker image on docker hub"
Is it possible to have an docker image on dockerhub (or somewhere else)?
I am building an example of a system monitored with opentelemetry, but struggeling how to build this project, because I do not have that much experience with building Nginx from source (never done that).

Thanks in advance, both it it happens and if it does not happen.

[2021-04-15 07:36] seemk commented on #16
Thanks! I'll look into publishing to Docker hub, I agree building it is not a trivial matter due to requiring building of both gRPC and opentelemetry-cpp.

What platforms did you try to build it on?

We don't have the releases process set up yet (#11), but the CI does build prebuilt binaries on Ubuntu 18.04, 20.04 and 20.10 for both nginx 1.18 and 1.19 which you can grab here: https://github.com/o

[2021-04-19 08:33] teuno commented on #16
Hi, atm I have followed https://docs.nginx.com/nginx/admin-guide/installing-nginx/installing-nginx-open-source/#modules . Got a working nginx without the grpc and otlp, but kinda stuck after that (the dependencies for building part in https://github.com/open-telemetry/opentelemetry-cpp-contrib/tree/main/instrumentation/nginx ). I build on ubuntu 18.04, so that's one that you already have.

Do you

[2021-04-19 08:56] seemk commented on #16
Just to get an overview of your setup:
You are building nginx yourself? If yes, then I think you only need to add `--with-compat` flag. See https://github.com/open-telemetry/opentelemetry-cpp-contrib/tree/main/instrumentation/nginx#troubleshooting

Are you using the prebuilt `.so`?

If you are building nginx you don't need to add any `-add-*-module` for instrumentation module to work, in fact it s

[2021-04-19 10:00] teuno commented on #16
Thanks for you help (added the --with-compat and it ran send the traces to my collector).
Got a local running version without docker atm.

[2021-04-21 12:15] seemk opened #19 "nginx: expose traceparent via nginx vars"
Accessing `traceparent` in nginx scripts can be done via `$otel_ctxvar_traceparent`, but this was initially intended for internal use. Should create an alias and document its usage (e.g. adding `Server-Timing` headers).

[2021-04-22 12:10] #15 closed

[2021-04-24 02:03] maxgolov commented on #11
@seemk @lalitb

I vaguely remember that when we initially got it set up, we had to ask for the open-telemetry org admins to set permissions on it.. Can I help creating a tag? Would you be able to provide me with release notes, and how do you want to label it - `v0.1.0` , or do we align it with the mainline tag?

Let's discuss it on slack.

[2021-04-26 22:17] maxgolov commented on #11
I created the tag `v0.1.0`. Hope that it addresses your immediate needs.

[2021-04-26 23:04] TomRoSystems commented on #11
Yes, thanks. We would like to include also some artefacts (assets) as well during this process. I've contacted @SergeyKanzhelev and he suggested for me to file an issue which I did - https://github.com/open-telemetry/community/issues/718

[2021-04-26 23:22] maxgolov commented on #11
@TomRoSystems - once you get permissions, you may be able to attach additional artifacts. It would be great though if we somehow script the creation of binaries. That is to avoid attaching prebuilt binaries that have not been created by the GitHub Actions, or some other `secure` process. Attaching source or documentation in any form should be fine.

[2021-04-26 23:49] SergeyKanzhelev commented on #11
Knowing GH permissions nonsense, if somebody will need to get Admin on repo to set everything up - let me know (ideally by adding details in open-telemetry/community#718).

[2021-04-27 07:30] seemk commented on #11
@maxgolov Thanks for this, and my bad for not noticing this discussion here earlier :slightly_smiling_face:

We decided to tag different instrumentation releases with each their own tag, e.g. `nginx-0.1.0`, but I can edit these now.

I was hoping the artifacts would show up under the releases, but CI will need to package and publish them separately (via https://github.com/softprops/action-gh-relea

[2021-04-29 04:35] maxgolov opened #21 "fluentd forward exporter"
I would like to implement `fluentd` forward exporter for OpenTelemetry C++ SDK for the following modes:

- **Forward**
- PackedForward
- CompressedPackedForward

Output for the following transports - `fluentd` inputs :

- **in_forward** - The `in_forward` Input plugin listens to a TCP socket to receive the event stream. It also listens to a UDP socket to receive heartbeat messages. See also the pr

[2021-05-13 01:46] maxgolov commented on #21
UPDATE:
- there are several moving parts here. One piece is cross-plat TCP, UDP and Unix Domain socket library, that I would like to merge in `opentelemetry-cpp` repository.
- second piece is a new option for the `opentelemetry-cpp` repository, to build `main+contrib` in one shot.
- third piece is the actual exporter in `opentelemetry-cpp-contrib.

I'm working on all three pieces in those two bran

[2021-05-18 19:55] johanneswuerbach opened #27 "nginx no OTLPResourceNoServiceName"
**Describe your environment**
The nginx instrumentation is not configuring a service name when using an otlp exporter.

**Steps to reproduce**
Run the module from main and look at the output in jaeger

**What is the expected behavior?**
The configured service name or at least `unknown:nginx`

**What is the actual behavior?**

`OTLPResourceNoServiceName`

**Additional context**

I tried to already

[2021-05-27 08:53] #27 closed

[2021-06-02 11:06] tippexs opened #33 "Target "otel_ngx_module" links to target "CURL::libcurl" but the target was not found."
Hi,

I am working on a universal docker-build container image to build the NGINX OTEL module.

My baseimage is `ubunut:20.04`.  After building grpc, cmake, googletest with benchmark and opentelemetry I was able to start building the NGINX Module.

While running `cmake` I received the following error:

[code]
I have modified the `CMakeLists.txt`
and have added

[code]
With this small fix its workin

[2021-06-02 11:26] noliva commented on #33
Hello @tippexs, do you plan on contributing back that docker-build container? I was literally doing the same thing now to build the module

[2021-06-02 11:30] tippexs commented on #33
Sure thing @noliva Gimme a couple of more hours today and let me share the Dockerfile. All tests on my end are looking good so far.

[2021-06-03 10:00] seemk commented on #33
Looks like curl has crept in from somewhere, I'll take a look

[2021-06-03 11:47] seemk commented on #33
Can you post the build options for opentelemetry-cpp?

For example CI build opentelemetry-cpp with the following settings and the error doesn't appear there:

[code]

So I'm wondering whether it could be that if zipkin exporter causes it

[2021-06-10 11:24] anoyli opened #35 "CMakeFiles/otel_ngx_module.dir/build.make:187: *** target pattern contains no `%'. Stop."
Hi, recently i need to work on the nginx instrument.  i execute
`cmake .. -DCMAKE_PREFIX_PATH=~/Software/opentelemetry-cpp-new/
                -DOPENSSL_ROOT_DIR=/usr/local/opt/openssl/`

and the output as follow:
[code]

but the error will fail me during make
[code]

and i found the code in otel_ngx_module.dir/build.make:187 as follow:
[code]

i have installed the opentelemetry-cpp to my local d

[2021-06-11 21:31] zdmytriv opened #36 "Add support for b3multi"
**Is your feature request related to a problem?**
Need support for b3-multi for nginx module. https://github.com/openzipkin/b3-propagation#multiple-headers

**Describe the solution you'd like**
Implement b3-multi in similar fashion like it is with simple b3 just do not concat trace-span-sampled into on header.

Right now header looks like
[code]
for b3-multi there should be 3 headers
[code]

[2021-06-12 03:52] #35 closed

[2021-06-12 08:44] anoyli opened #37 "Nginx Instrumentation: ld: symbol(s) not found for architecture x86_64"
Hi Team, recently i want to make the nginx instrument, but i met some problems.
I have install grpc and opentelemetry-cpp(based on v0.7.0), but an error when during my make procedure.

cmake command
[code]
output of cmake
[code]

but an error occur when i execute make command
[code]

And i add a default constructor to otlp::OtlpExporterOptions in cpp of opentelemetry-cpp, but another error occur
[

[2021-06-14 07:23] seemk commented on #37
I assume you are on macOS? The instrumentation hasn't been tested (either building or running) on macOS, but I do have a mac available and will give it a shot.

[2021-06-14 14:31] anoyli commented on #37
Hi @seemk, thanks for your reply. Yes, i am working on MacOS

[2021-06-15 16:09] anoyli commented on #37
Hi @seemk, i have built this project in a linux instance. and i want to share with my operation steps for building by submitting a PR.  I will close this comment. Thank you!

[2021-06-15 16:09] #37 closed

[2021-06-16 19:41] chrissam opened #39 "Can this module be used for openresty?"
Just curious if this module can be used for openresty? If not is there any plan to include openresty in future release?

[2021-06-17 08:43] seemk commented on #39
Hi! This hasn't been tested in any way with OpenResty, but I assume the nginx span creation would still work. Regarding OpenResty support, do you mean accessing the tracing context (i.e. creating, modifying spans) in Lua blocks?

[2021-06-17 10:48] chrissam commented on #39
@seemk For now, the nginx span creation should be fine. But yes, would be cool to create and modify it inside lua blocks to get a more deeper insight.

[2021-06-17 11:00] chrissam opened #40 "Getting version mismatch while loading the module - `version 1018000 instead of 1019003`"
**Describe your environment**

Using nginx 1.19.3 with that comes with `--with-compat`
[code]

I used the module `otel_ngx_module-ubuntu-18.04-stable.so` downloaded from https://github.com/open-telemetry/opentelemetry-cpp-contrib/actions/runs/705078540

*OS Version:*
[code]

*nginx.conf*
[code]

*Error*
[code]

**Steps to reproduce**
Refer description

**What is the expected behavior?**
[code]

**

[2021-06-17 12:52] chrissam commented on #40
**Update**

The `otel_ngx_module-ubuntu-18.04-stable.so` module works fine with Ubuntu 20.04, running nginx `1.18.0`

[code]

[2021-06-17 13:12] chrissam commented on #40
**Update**

Though `nginx -t` didn't throw any error, I was not able to start nginx as a result of below error,

[code]

[2021-06-17 15:47] seemk commented on #40
To clarify `stable` and `mainline` refer to the nginx versions here: http://nginx.org/en/download.html, i.e. stable means 1.18.x and mainline 1.19.x. Although now looking at the link, nginx has a new version: 1.20 and 1.21 as of lately. I'll go over the build scripts to incorporate these changes.

Did the `dlopen` error happen on Ubuntu 20.04 with nginx `1.18.0`? Then you could try the so built fo

[2021-06-17 16:00] chrissam commented on #40
@seemk I was able to successfully make it run in `ubuntu 20.04` using `otel_ngx_module-ubuntu-20.04-stable.so`. I'm basically trying to make this work for openresty `nginx:1.19.3`. I'll let you know how it goes :)

[2021-06-17 16:06] seemk commented on #40
I'll make the CI build an artifact for the latest OpenResty as well, but might not get to it today yet

[2021-06-18 11:06] #33 closed

[2021-06-21 13:06] seemk commented on #40
It looks like the OpenResty from apt does not have `--with-compat` enabled. Are you using the OpenResty Docker images or installing it via apt?

Looking for a solution for the apt problem currently

[2021-06-21 19:21] chrissam commented on #40
@seemk I was trying from apt and as you said it doesn't have `--with-compat`. I'm yet to try in OpenResty Docker or by building it from source. I should probably able to test it by tomorrow.

[2021-06-29 17:51] kakireddyp commented on #39
@seemk will this work on centos with OpenResty

[2021-06-30 03:30] anoyli opened #43 "Some concerns about nginx module"
Hi Team, for the nginx instrumentation, i met some problems recently.
for my nginx.conf config:
[code]

because my app has some urls which contains regex: such as /a/b/{c:[0-9]+},  so i found in my jaeger UI, there are so many operations which may exceed the threshold. So I wonder whether any good suggestions for location aggregation?  And do i need to add each location which contains regex? o(╥﹏╥

[2021-07-12 18:12] spencerwilson opened #44 "Nginx instrumentation: Base span start/end on `request_time`"
**Is your feature request related to a problem?**
Yes: Span duration may not be as accurate as it could be. This is based on span starting/ending in such a way that start and end times are implicitly the "current" time. E.g., here's how the span is ended:
https://github.com/open-telemetry/opentelemetry-cpp-contrib/blob/32bcaf70a1f5d07187233c60e5dfc51abf887e42/instrumentation/nginx/src/otel_ngx_mod

[2021-07-13 20:03] seemk commented on #39
It will work in the nginx case, but I haven't built it with OpenResty and/or CentOS yet.

[2021-07-13 20:07] seemk commented on #43
Would giving it an explicit name help here?

E.g.
`opentelemetry_operation_name "/api/v1/something/?";`

[2021-07-19 07:25] anoyli opened #47 "11#0: *26934686 Unable to get trace context when expanding tracecontext var, client: *.*.*.*, server: *_server, request: "GET /api/* HTTP/1.1", host: "*.*.*""
Hi Team,  I find an error message in Nginx when I set `opentelemetry off` in http block

The error message is as follow:
[code]
is there any configuration i miss?

thank you!

[2021-07-29 13:44] kakireddyp commented on #39
@seemk do you have any plans doing that?

[2021-08-04 06:34] anoyli commented on #43
@seemk Thanks for your reply, so for this problem, what we need to do is to write all the regex expressions manually？
such as
{
    opentelemetry_operation_name "/api/v1/something/?";
    ...
},
{
    opentelemetry_operation_name "/api/v1/something1/?";
    ...
},
{
    opentelemetry_operation_name "/api/v1/something2/?";
    ...
},
{
    opentelemetry_operation_name "/api/v1/something3/?";
    ..

[2021-08-04 06:49] seemk commented on #43
I guess having the regex in the URL would be the way to go here then? So instead of the full URL the operation name will be based on the nginx route name.

I'll be back in a couple of days, will take a look how it can be achieved then.

[2021-10-12 03:13] wajika opened #63 "How to quickly deploy opentelemetry-cpp-contrib-nginx?"
Hello everyone, I want to test the nginx opentracing+elastic apm solution, when I am building
I found it very troublesome when opentelemetry-cpp-contrib-nginx. Opentelemetry-cpp-contrib requires grpc, and grpc requires gcc 5.4+... The system I use is centos 7.7, and there are a lot of troubles in compiling grpc, in short, it’s a bit bad .

I am thinking that if the community can openly provide the

[2021-10-14 14:43] zhuizhuhaomeng commented on #63
got the same problem

[2021-10-14 15:00] zhuizhuhaomeng opened #64 "failed to compile nginx accroding to instrumentation/nginx/README.md"
build on Ubuntu 20, got the following error when compile nginx

``
[ 47%] Built target project_nginx
CMakeFiles/otel_ngx_module.dir/build.make:187: *** target pattern contains no '%'.  Stop.
make[1]: *** [CMakeFiles/Makefile2:77: CMakeFiles/otel_ngx_module.dir/all] Error 2
make: *** [Makefile:130: all] Error 2
[code]
184 otel_ngx_module.so: CMakeFiles/otel_ngx_module.dir/src/propagate.cpp.o
185 ot

[2021-10-15 00:31] zhuizhuhaomeng commented on #64
this is just a question, but there is no a suitable choice

[2021-10-15 11:31] zhuizhuhaomeng commented on #64
@tobiasstadler cloud you help me with this issue?

[2021-10-19 05:39] lalitb commented on #64
@tobiasstadler @zhuizhuhaomeng -  Not sure but this could be the conflict between the abseil library from grpc, and one used internally by opentelemetry-cpp for nostd::variant. You may want to read this if it helps:

https://github.com/open-telemetry/opentelemetry-cpp/tree/main/examples/otlp#additional-notes-regarding-abseil-library

[2021-10-19 19:10] seemk commented on #63
I agree the amount of dependencies is annoying (e.g. grpc). What's the gcc version available on CentOS 7.7?

[2021-11-10 01:54] katepangLiu opened #66 "Instruments here can't be search in https://opentelemetry.io/registry/"
No result:
https://opentelemetry.io/registry/?s=nginx&component=&language=
https://opentelemetry.io/registry/?s=http&component=&language=

[2021-11-10 02:16] lalitb commented on #66
thanks for noticing this. Will add this to the registry.

[2021-11-11 16:30] lalitb commented on #66
This should work now : https://github.com/open-telemetry/opentelemetry.io/pull/892

[2021-11-11 19:19] #66 closed

[2021-11-13 07:33] spencerwilson opened #67 "nginx: `opentelemetry_propagate` in `http` block not honored"
**Describe your environment**

[code]

EC2 AMI ID ami-060f1292334857878, name aws-elasticbeanstalk-amzn-2.0.20211001.64bit-eb_nodejs12_amazon_linux_2-hvm-2021-10-16T18-34

Using nginx instrumentation in https://github.com/open-telemetry/opentelemetry-cpp-contrib/tree/30e872e1d91cb696b48418300fddd8f9fc36b914/instrumentation/nginx, built after manually building grpc, then opentelemetry-cpp.

**Steps

[2021-11-15 16:11] gioppoluca opened #68 "otel.so not loaded in http - GLIBC_2.29' not found"
httpd image from dockerhub (2.4.46)
Using release for ubuntu 20.04
Added it in proper modules place

**Steps to reproduce**
Add module in image and execute
**What is the expected behavior?**
Apache running and using the module

**What is the actual behavior?**

Cannot load /usr/lib/apache2/modules/mod-otel.so into server: /lib/x86_64-linux-gnu/libm.so.6: version `GLIBC_2.29' not found (required by

[2021-11-16 16:58] TomRoSystems commented on #68
**Dockerfile**

[code]

Then with default config you'll see spans in `/tmp/output-spans`:
`docker exec -it [CONTAINER_NAME] cat /tmp/output-spans`

Please provide more information about your configuration or ticket will be closed within next 14 days.

[2021-11-16 17:12] gioppoluca commented on #68
tried also to build starting from the same image of "http" - is a debian.
Built with no error, copied the file in the httpd image but in this case httpd gose core dump.
Any hints?
Does it work on httpd?

[2021-11-16 17:21] gioppoluca commented on #68
my bad!! I forgot to include the conf in the httpd.conf
Thanks for the support

[2021-11-16 17:21] #68 closed

[2021-11-25 12:36] tobiasstadler commented on #67
I think this is a bug.

Can you please try to place `opentelemetry_propagate;` in the location block of `proxy_pass          http://127.0.0.1:4000;`, e.g.
[code]
?

[2021-12-02 10:56] kpratyus opened #78 "Regarding setup of OTEL HTTPD instrumentation with Zipkin backend"
I am trying to setup the HTTPD instrumentation module. These are the steps I followed

1. Running the Dockerfile
2. Loading the libstdc++.so.6 module, otel.so module and OpenTelemetry.conf file in the apache.conf

This is my Opentelemetry.conf file
`<IfModule mod_otel.cpp>
# OpenTelemetryExporter set exporter type:
# file - means put spans into file
# otlp - means use otlp

# OpenTelemetryExporter

[2021-12-02 22:16] spencerwilson commented on #67
Thanks for the suggestion. I'll try it out as soon as I can and report back.

[2021-12-05 18:31] spencerwilson commented on #67
Yes, moving `opentelemetry_propagate;` from the `http` block to the `location` block resolved it. I'll update this issue's title to reflect the bug.

[2021-12-06 11:24] jvilhuber opened #79 "logging trace headers in apache 2.4"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your platform, build system, version numbers of installed dependencies, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has been fixed on main branch.
Running with apache httpd 2.4.51 (latest at the time of this writing), us

[2021-12-07 23:49] TomRoSystems commented on #79
Well your thinking is correct I was able to log `traceparent` with `traceparent=%{traceparent}i` with mod_otel options:
`OpenTelemetryPropagators trace-context` and `OpenTelemetryIgnoreInbound Off` . Essentially executing test number 7 - https://github.com/open-telemetry/opentelemetry-cpp-contrib/blob/f48500884b1b32efc456790bbcdc2e6cf7a8e630/instrumentation/httpd/tests/07-create-outbound-spans.sh#

[2021-12-08 12:33] jvilhuber commented on #79
I'll try to set up a test environment (or create a Dockerfile that can run the tests?), but if I read test 07 correctly, you're passing IN the traceparent header with curl, right? In my case, we have `OpenTelemetryIgnoreInbound On` (we are the border-gateway in this case) and apache is the originator of the trace. I should have included that in my original report. My apologies.

[2021-12-08 14:10] jvilhuber commented on #79
Did a quick test: I enabled `OpenTelemetryIgnoreInbound Off`, and sent in `traceparent: 00-72261f4b29dea7d293e8fbfb6f2c1042-085e794a94f0c55e-01` and I do see that `traceparent` header logged as expected.
The problem is apparently only when `OpenTelemetryIgnoreInbound On` and we're the originator/creator or the trace: Then I get no header in the logs.

[2021-12-08 15:41] tobiasstadler commented on #67
@spencerwilson #80 should fix your problem. Would you mind testing it please?

[2021-12-09 18:44] iquirino opened #81 "Open Telemetry Alpine Image"
Hello,

**Is your feature request related to a problem?**
I created a docker image to run opentelemetry with alpine.
I had to install its dependencies, compile nginx with --with-compat, opentelemetry-cpp and opentelemetry-cpp-contrib and the result image gets only 52MB

**Describe the solution you'd like**

I want to contribute with opentelemetry project to add alpine in the build pipeline:

https

[2021-12-10 06:56] jvilhuber opened #82 "Httpd traces missing service name"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your platform, build system, version numbers of installed dependencies, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has been fixed on main branch.

Running a compiled-from-source apache httpd 2.4.51 (latest), with the do

[2021-12-10 07:15] jvilhuber commented on #82
I found a similar (same?) bug in the nginx module: https://github.com/open-telemetry/opentelemetry-cpp-contrib/issues/27
Perhaps this just needs a bump to the latest opentelemetry-cpp library?

[2021-12-10 18:41] antifuchs opened #83 "Consider uploading the modules outside of github actions artifacts?"
**Is your feature request related to a problem?**

I'm trying to download a "stable" version of the module in a way that doesn't rely on some developer putting the .so file on their desktop machine & uploading it somewhere else; thought I could use your github build artifacts in our build process for that, but unfortunately, that doesn't work: You need a github OAuth app with `actions:read` scope

[2021-12-13 11:12] jvilhuber commented on #82
@TomRoSystems Any chance you could update the library to something recent to see if this fixes some of the issues I've had? I suspect https://github.com/open-telemetry/opentelemetry-cpp-contrib/issues/78 is also related to this.

[2021-12-13 11:49] iquirino commented on #16
#81 I already built a docker image for alpine linux.

[2021-12-13 11:50] iquirino commented on #63
#81 Running with alpine linux on docker.

[2021-12-13 11:54] iquirino opened #84 "HTTP or GRPC in config"
**Describe your environment**
I am compiling from the source

Should I compile two different versions, on with gRPC and another with HTTP?

    -DWITH_OTLP_GRPC=ON
    -DWITH_OTLP_HTTP=ON

In case of compile with gRPC and HTTP = ON, how could I select which to use? or it is not necessary to?

**What is the expected behavior?**
A selector of which protocol use

[2021-12-15 13:15] antifuchs commented on #83
One thing that just occurred to me is that the github action could easily publish to the repo's GHCR (package registry) space using https://github.com/marketplace/actions/github-action-publish-binaries - that will work pretty much identically to the way this repo handles artifacts already, but the resulting binaries will be available for anyone who wishes to automatically install the result.

[2021-12-16 02:05] TomRoSystems commented on #79
I've started working on this one: https://github.com/TomRoSystems/opentelemetry-cpp-contrib/pull/5
Just need to add test.

[2021-12-16 07:58] #67 closed

[2021-12-16 12:34] rcjsuen opened #87 "Unused parameter warning when compiling the Nginx module"
**Describe your environment**
I'm compiling inside a `k8s.gcr.io/ingress-nginx/controller:v0.46.0` Docker image but the same thing can be seen in the output of the [GitHub Actions](https://github.com/open-telemetry/opentelemetry-cpp-contrib/runs/4544578053?check_suite_focus=true) so I don't think it's environment-specific here.

**Steps to reproduce**
[code]
1. Follow the build instructions and bu

[2021-12-19 02:55] wajika commented on #63
@iquirino @gbschenkel thanks

[2021-12-19 02:55] #63 closed

[2021-12-20 20:08] rcjsuen opened #89 "Nginx worker thread dies if log_subrequest is enabled"
**Describe your environment**
I'm using the `iquirino91/nginx-opentelemetry` Docker image from @iquirino. See #81 and the Dockerfile [here](https://github.com/iquirino/nginx-opentelemetry/blob/7cf899d0835c4c86cabc2d5ced44224d29b39dfd/Dockerfile).

**Steps to reproduce**
The steps below assume you have Docker installed. If you do not, you are welcome to just use the `nginx.conf` with `log_subreques

[2021-12-22 14:27] rcjsuen commented on #89
Tried to use GDB to figure things out but not sure if I really got anywhere...
[code]

[2021-12-22 17:02] rcjsuen commented on #89
The two requests passed to the `FinishNgxSpan` function are different (?) but the trace context is the same. Not sure if this is expected or not though. I presume the first call frees the first and then the second call dies? 🤔
[code]

[2021-12-22 21:25] rcjsuen commented on #89
https://github.com/open-telemetry/opentelemetry-cpp-contrib/blob/515b7a631a343b1a8ccb7bee99bd09c84c88b4b7/instrumentation/nginx/src/otel_ngx_module.cpp#L368-L373

I think this is because both the request and the subrequest shares the same `variables` member and it messes things up in `StartNgxSpan`?

[2021-12-23 17:58] rcjsuen commented on #89
I've opened #94 to address this. If it is not the proper fix I hope it will be of use to someone to help devise a correct fix. :)

[2021-12-23 19:40] rcjsuen opened #95 "Ubuntu 20.10 has reached end-of-life and should not be used in the builds"
**Describe your environment**
Ubuntu 20.10 has reached end-of-life and `apt-get update` will not run as-is anymore. The only reason it's still working in GitHub Actions is because of caching.

**Steps to reproduce**
[code]
1. Create a Dockerfile with the above content.
2. Try to build it.
[code]

**What is the expected behavior?**
GitHub Actions should be green and working in forks of this reposit

[2022-01-05 15:29] seemk commented on #95
Replaced it with 21.04 for now at https://github.com/open-telemetry/opentelemetry-cpp-contrib/pull/96

[2022-01-05 15:29] #95 closed

[2022-01-05 16:23] ElenaForester commented on #40
@chrissam were you able to make it work with openresty?

[2022-01-05 16:23] ElenaForester commented on #40
any chance that it was done?

[2022-01-05 18:03] #89 closed

[2022-01-13 08:48] TomRoSystems commented on #79
Fixed in PR https://github.com/open-telemetry/opentelemetry-cpp-contrib/pull/97

[2022-01-13 08:48] #79 closed

[2022-01-18 07:32] jvilhuber commented on #82
@TomRoSystems Any update on this one?

[2022-01-18 07:39] jvilhuber commented on #82
FWIW I did a local test upgrading to opentelemetry-cpp-1.0.0-rc1 (the latest version that builds without Api changes) and it seems to fix the problem. So I'm pretty sure just upgrading the opentelemetry-cpp library will do the trick here. I got stuck on adding a default service.name, however, and since cpp isn't my language, I'm not sure any PR of mine would be good enough (though I'm happy to sha

[2022-01-19 02:34] jvilhuber commented on #82
I was using bazel, but cmake seems faster, so I can use that instead. Any chance you can upgrade to the latest opentelemetry (1.1.0 I think)?

[2022-02-11 12:20] rcjsuen opened #105 "Nginx worker thread dies in CreateTraceContext"
**Describe your environment**
- OpenTelemetry C++ 1.2.0
- OpenTelemetry C++ Contrib at 3808bc3be386fbcc58d39cd858fb375d7e1fafa3
- Nginx 1.19.9

I haven't narrowed down how to reproduce the issue yet but I'm getting a segfault in the code that was added in #94. Looks like the `insert` call on line 402 is bad. :(

https://github.com/open-telemetry/opentelemetry-cpp-contrib/blob/3808bc3be386fbcc58d39

[2022-02-11 14:04] rcjsuen commented on #105
Since `this=0x0`, it seems like it is a subrequest but its parent request does not have an `unordered_map`.

[2022-02-11 22:30] rcjsuen commented on #105
I've narrowed things down to an `ngx.location.capture` call inside an `access_by_lua_block`...

[2022-02-12 12:55] rcjsuen commented on #105
@seemk I wonder if the proper fix is to use `ngx_http_set_ctx` like [OpenTracing](https://github.com/opentracing-contrib/nginx-opentracing/blob/7cd0479699c0ac9bd341a8e2b65c595d7c94d85e/opentracing/src/opentracing_context.cpp#L158-L169). What do you think?

[2022-02-12 17:08] rcjsuen commented on #105
This config will cause the worker thread to crash.
[code]

[2022-02-12 21:23] rcjsuen commented on #105
Here is a complete setup for reproducing the worker thread crash.
[code]
[code]
[code]
1. Download all of the above files as `nginx.conf`, `otel-nginx.toml`, and `Dockerfile` and put them all in the same folder.
2. Build the Docker image.
[code]
3. Run the Docker image in one terminal.
[code]
4. Exec into the Docker container in another terminal.
[code]
5. Use `curl` to crash the worker thread.
[c

[2022-02-22 06:07] FullStackIndie opened #106 "Error loading module in Nginx"
**Describe your environment**
I am running Ubuntu 20.04 LTS Stable and I downloaded the latest stable release of OpenTelemetry nginx module from the Github Actions artificats section.
[](https://github.com/open-telemetry/opentelemetry-cpp-contrib/tree/main/instrumentation/nginx)

I am using "nginx:latest" in docker container. I am running "otel/opentelemetry-collector:latest" as well in docker con

[2022-03-02 22:04] nicolastakashi commented on #106
Same issue here!

[2022-03-03 20:29] rcjsuen commented on #105
Same problem happens with `internal` requests. :(
[code]

[2022-03-04 15:31] rcjsuen commented on #105
From what I can tell, if you try to hit a path that is `internal`, only `FinishNgxSpan` is called but not `StartNgxSpan` so it (unsurprisingly) crashes.

[2022-03-08 21:29] nicolastakashi opened #107 "How to report traces directly to jaeger."
Since the Otel implementation allows us to send spans directly to backend instances, how can we send spans directly to jaeger without setting up an OTel Collector?

[2022-03-08 21:33] lalitb commented on #107
otel-cpp provides Jaeger exporter to send spans directly from application to backend. More information here:

https://github.com/open-telemetry/opentelemetry-cpp/tree/main/exporters/jaeger

[2022-03-14 15:11] kpratyus opened #111 "Updating Build and install instructions after Apache Module contribution"
The present Readme and Dockerfile have to be updated as the directory structure has changed for the newly contributed Otel-webserver-module

[2022-03-14 15:12] kpratyus commented on #111
I would be working on this issue so I request this issue to be assigned to me

[2022-03-15 16:03] kpratyus opened #114 "Updating the OpenTelemetry C++ SDK dependency for Otel webserver module"
As requested by the community during the contribution process the old version of Opentelemetry C++ SDK has to be updated to the present version.

[2022-03-15 16:04] kpratyus commented on #114
I request this issue to be assigned to me

[2022-03-16 07:42] DebajitDas opened #117 "[instrumentation][otel-webserver-module] Support Code Coverage as a part of gradle task"
Before opening a feature request against this repo, consider whether the feature should/could be implemented in the [other OpenTelemetry client libraries](https://github.com/open-telemetry/). If so, please [open an issue on opentelemetry-specification](https://github.com/open-telemetry/opentelemetry-specification/issues/new) first.

**Is your feature request related to a problem?**
If so, provide

[2022-03-16 11:48] tobiasstadler commented on #106
I think the problem is, that the module is built with PCRE support, while the nginx in the image isn't.

[2022-03-16 12:05] #114 closed

[2022-03-17 07:00] #117 closed

[2022-03-20 22:25] chalin opened #119 "Add link to opentelemetry.io under About section"
Under the **About** section of this repo (which you can access from the main repo page -- click the gear icon next to the About title):

- Under **Website**, add https://opentelemetry.io

We're looking to do this uniformly for all OTel org repos.

For example:

[2022-03-20 22:54] esigo commented on #119
Thanks for bringing this to our attention.
Done

[2022-03-20 22:54] #119 closed

[2022-03-21 09:42] DebajitDas opened #120 "Add build support for Centos 7"

[2022-03-21 09:42] DebajitDas opened #121 "Add build support for Ubuntu 20.04"

[2022-03-21 09:45] DebajitDas opened #122 "Reduce the build time of "docker-compose build" command"
Currently, "docker-compose build" takes around 1 hr time to build the image. It would be better to reduce the build time of this.

[2022-03-21 14:39] FullStackIndie commented on #106
Looks like my Docker container running Nginx doesn't come with the **with-pcre-jit** configuration parameter. When running Nginx on host server, instead of Docker container, it does come with PCRE support built in so I will try that later. thanks for the help!!! @tobiasstadler

[2022-03-23 05:23] DebajitDas opened #124 "Add test-case for ApiUtils to increase code-coverage"

[2022-03-23 05:27] longwuyuan opened #125 "CMake Warning at /usr/lib/cmake/grpc/modules/Findre2.cmake:64"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your platform, build system, version numbers of installed dependencies, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has been fixed on main branch.

- This is related to https://github.com/kubernetes/ingress-nginx/issues/

[2022-03-23 22:34] esigo commented on #125
Hi @longwuyuan thanks for reaching out to us. Any reason for not installing `re2`?
I could get the build working by installing `re2` and `re2-dev`.

You may consider upgrading to the latest version of opentelemetry 1.2.0.
Also clone was slow, you may consider using
`git clone --branch v$OPENTELEMETRY_CPP_VERSION --depth=1 --recursive https://github.com/open-telemetry/opentelemetry-cpp opentelemetr

[2022-03-24 03:26] longwuyuan commented on #125
@esigo thanks a lot. I added re2 and re2-dev to the apk add command in build.sh and that error was resolved.

However I am curious to know how you had a working build. I am getting below error when I run `docker build -t my image .`

#9 151.2   nginx http fastcgi temporary files: "fastcgi_temp"
#9 151.2   nginx http uwsgi temporary files: "uwsgi_temp"
#9 151.2   nginx http scgi temporary files: "s

[2022-03-24 04:11] lalitb commented on #125
Looks like the alpine 3.15 package repository comes with a newer `abseil` library. This can be causing conflict between the abseil library used internally in opentelemetry-cpp sdk and one coming from the repository. This can be resolved by changing the order of header includes in nginx instrumentation as described [here](https://github.com/open-telemetry/opentelemetry-cpp/blob/32cd66b62333e84aa8e9

[2022-03-24 05:38] longwuyuan commented on #125
Thanks @lalitb , will wait for @seemk comments

[2022-03-24 08:54] DebajitDas opened #131 "Add CI for otel-webserver-module"
For the otel-webserver-module, we need to add CI, which should include build and running the unit tests initially. More steps could be added incrementally.

[2022-03-24 10:26] kpratyus opened #133 "Adding Unit Test for Request Processing Engine"
Please assign this issue to me @DebajitDas

[2022-03-24 10:26] #111 closed

[2022-03-26 06:11] domyway opened #134 "coredump when openresty ngx.location.capture is call"
**Describe your environment**
Mac docker run openresty/openresty:alpine

**Steps to reproduce**
1.
compile the otel so into image
Dockerfile content
[code]

2. docker build -t openresty-otel:v1 .
3. docker run -it --privileged openresty-otel:v1
4. go into the container and change nginx.conf
[code]
and then add location
[code]
5.   openresty -s reload
6.  curl 127.0.0.1/test2 -iv   ,  coredump

**W

[2022-03-26 17:51] rcjsuen commented on #134
This is a duplicate of #105.

[2022-03-27 10:12] domyway commented on #134
same bug.  these is anyone working on this bug?

[2022-03-29 04:20] #124 closed

[2022-03-29 04:27] #133 closed

[2022-03-30 07:09] kpratyus commented on #120
Please assign this issue to me

[2022-03-30 08:10] sangeethjohn07 opened #136 "mod_apache_otel.cpp_handler span appearing in the traces."
Environment :
otel-webserver-module installed in centos6 with apache-2.2 with jaeger as backend

Steps to reproduce :

 opentelemetry_module.conf   :
`LoadFile /opt/opentelemetry-webserver-sdk/sdk_lib/lib/libopentelemetry_common.so
LoadFile /opt/opentelemetry-webserver-sdk/sdk_lib/lib/libopentelemetry_resources.so
LoadFile /opt/opentelemetry-webserver-sdk/sdk_lib/lib/libopentelemetry_trace.so
Load

[2022-04-01 18:13] sfc-gh-jallie opened #137 "Segfault in GetTraceContext with named @healthcheck location"
I am experiencing a reproducible crash in nginx workers when `opentelemetry_propagate` is set, and a `@healthcheck` named location is defined.

Removing either from the config avoids the crash.

On a fresh build from head, I've managed to catch the crash in gdb, with the following stack

[code]

Looking at the context in frame #3

[code]

Looking at the calling code in otel_ngx_module.cpp

[code]

[2022-04-01 18:23] rcjsuen commented on #137
@sfc-gh-jallie I suggest you share an `nginx.conf` that will reproduce the problem. With that in mind though, it looks like you are hitting #105 and #134.

[2022-04-01 18:38] sfc-gh-jallie commented on #137
@rcjsuen indeed, it seems very likely to be the same issue. I'll try to get a minimal repro nginx.conf

[2022-04-01 21:20] lalitb commented on #125
@longwuyuan Just to add, if you don't want to wait for fix in nginx instrumentation, the alternate solution would be to build opentelemetry-cpp using externally installed `abseil` library.  This can be achieved by adding -DWITH_ABSEIL=ON cmake option in opentelemetry-cpp build [here](https://github.com/kubernetes/ingress-nginx/blob/ad47d49216b9460c299b267a69b710659044b863/images/opentelemetry/root

[2022-04-02 00:11] longwuyuan commented on #125
@lalitb thank you very much for the update. We have, for now, used alpine v3.14.4 to release ingress-nginx-controller v1.1.3, to get the openssl & libxml CVE patches.

After this activity settles, I expect that an attempt at moving to alpine v3.15.X+ will occur in near future .

@dmathieu is working on https://github.com/kubernetes/ingress-nginx/pull/7621 so tagging here @rikatz

[2022-04-05 19:03] knorby opened #139 "Support Debian Bullseye (11.3) in Github Action"
**Is your feature request related to a problem?**

Debian Bullseye (11.3) was released not long ago, and this appears to be what the [Dockerhub Nginx debian image](https://hub.docker.com/_/nginx) now uses

**Describe the solution you'd like**
Add Debian 11.3 to the OS builds in the Github Action for the nginx module

[2022-04-08 05:38] longwuyuan opened #141 "symbol not found when loading opentelemetry module"
Hi,

- This is related to the Kubernetes community ingress-nginx project https://github.com/kubernetes/ingress-nginx/issues/8437
- We use opentelemetry as a plugin to the ingress-nginx controller
- We build the opentelemetry image with this https://github.com/kubernetes/ingress-nginx/tree/main/images/opentelemetry
- We then optionally include it using this https://github.com/kubernetes/ingress-ngi

[2022-04-08 17:07] longwuyuan commented on #141
@esigo @lalitb any advise you can provide will help.
Completely clueless on why we are observing __`"symbol not found"`__ for everything. Is it because the libc/musl headers are not present, on the busy box image, to which we are copying the binary `otl_ngx_module.so` , to load as sidecar ?

[2022-04-12 06:10] phillipuniverse opened #143 "Nginx auth_request does not share parent trace id"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your platform, build system, version numbers of installed dependencies, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has been fixed on main branch.

I am in the process of converting to OpenTracing to OpenTelemetry for Ng

[2022-04-13 09:46] #136 closed

[2022-04-15 09:55] zx8086 opened #146 "/opentelemetry-cpp-contrib/instrumentation/nginx/src/otel_ngx_module.cpp:1:10: fatal error: opentelemetry/sdk/trace/processor.h: No such file or directory"
**Describe your environment**

nginx 1.20.2
Raspberry Pi 4
Bullseye
Linux 5.15.33-v8+ #1540 SMP PREEMPT Mon Apr 11 13:18:30 BST 2022 aarch64 GNU/Linux

**Steps to reproduce**
Ran
./configure --with-compat --add-dynamic-module=/home/pi/opentelemetry-cpp-contrib/instrumentation/nginx

Tail end of the log as below :

`configuring additional dynamic modules
adding module in /home/pi/opentelemetry-cpp-

[2022-04-20 07:04] lalitb opened #150 "fluentd exporter for Metrics"
Now that the opentelemetry-cpp Metrics implementation is taking shape, it would be good to have a initial implementation for Metrics exporter for fluentd.

[2022-04-21 05:09] longwuyuan commented on #141
maybe related https://github.com/open-telemetry/opentelemetry-cpp-contrib/issues/146

[2022-04-21 05:25] DebajitDas commented on #121
Reopening this as the work is not completed yet

[2022-04-21 05:27] DebajitDas commented on #120
Reopening as the tickets are not closed.

[2022-04-22 06:17] #120 closed

[2022-04-22 07:17] #121 closed

[2022-04-29 09:37] h1z3y3 commented on #39
Hope it coming soon.

[2022-05-06 10:04] longwuyuan commented on #141
@esigo @lalitb hoping you can comment on this. thanks

[2022-05-06 14:25] mahaisong commented on #141
@longwuyuan I need to deploy nginx on the upper part of k8s to integrate opentelemetry. I plan to use two methods. The first is to directly configure it in the pod of ingress nginx controller according to the requirements of opentelemetry CPP contrib, but nginx reports an error: the file ld-linux-x86-64 cannot be found so. 2。 So I failed. The second is the way you mentioned above. Have you succeed

[2022-05-06 15:11] longwuyuan commented on #141
my status is same as reported originally

[2022-05-06 20:58] esigo commented on #141
Hi @longwuyuan, can you give us some context here please. Your Dockerfile doesn't seem to have the build result. I suppose you use it for building and storing artifacts somewhere else but I couldn't find it.

[2022-05-06 22:21] longwuyuan commented on #141
Hi @esigo,

The link to the image built by the ingress-nginx project CI is here https://console.cloud.google.com/gcr/images/k8s-staging-ingress-nginx/global/opentelemetry

The image is used/published like this  https://github.com/kubernetes/ingress-nginx/blob/ec1b01092ef2c2ff36fe296c91c45d9b2d394bbd/charts/ingress-nginx/values.yaml#L583

The problem is the build is a success. And then we configure

[2022-05-07 17:05] esigo commented on #141
@longwuyuan, I can't pull your image. Also I was not able to build opentelemetry using the build script you have provided. You may add `-DBUILD_SHARED_LIBS=ON` to your current script or keep your script as it is but build gRPC using our [script](https://github.com/open-telemetry/opentelemetry-cpp/blob/main/ci/setup_grpc.sh) instead of installing using apk.

[2022-05-07 17:49] longwuyuan commented on #141
Hi @esigo,

Thank you very much for updating.

- I was able to pull the image like thus ;
[code]
If you are going to  pull, kindly try like above and update and I will work on the problem.

- About the build failing for you, Kindly let me know if you meant that the Dockerfile and the dependendant `build.sh` script is what you are referring to, when you said that it does not work https://github.com

[2022-05-07 18:27] esigo commented on #141
You may check the PR I've raised in our repo: https://github.com/open-telemetry/opentelemetry-cpp/pull/1382

[2022-05-07 18:29] longwuyuan commented on #141
Hi @esigo,

I added the flag and I used the latest commit, at the time of writing this post, but I am getting a checksum error on the src tgz. Any suggestions/comments ;

[code]

[2022-05-07 18:33] longwuyuan commented on #141
Ah, just saw the PR. That should help a lot in simplifying the build. Thank you very much.

[2022-05-07 18:46] esigo commented on #141
No comment on hash.
I updated my PR with commands you need for using the result of build.
Let me know if you'd like me to raise a similar PR in your repo.

[2022-05-07 18:54] longwuyuan commented on #141
Ah, thank you again. Only now I realise there are 2 components, needing to be built.
While I can attempt to edit our Dockerfile as per what I am learning here, I would rather love to have you raise a PR in the ingress-nginx project. I suspect you will suggest changes  needed under [`images/opentelemetry/rootfs`](https://github.com/kubernetes/ingress-nginx/tree/main/images/opentelemetry/rootfs)  .

[2022-05-08 09:40] domyway commented on #105
@rcjsuen   PR (fix(nginx): Fix segfault in GetTraceContext #153 ) has already merged .  I test my issue #134 , it seems all right.   have you test yours？

[2022-05-09 03:03] owent commented on #84
`-DWITH_OTLP_GRPC=ON` and `-DWITH_OTLP_HTTP=ON` are just be used to tell build system to build the exporters. Which to use depends your codes.

[2022-05-09 03:09] owent commented on #146
I think you should build [opentelemetry-cpp](https://github.com/open-telemetry/opentelemetry-cpp) first and add the include directories and libraries by `CFLAGS` and `LDFLAGS` if you use `configure` but not the cmake build system in our repository.

[2022-05-09 12:25] rcjsuen commented on #105
Not yet. I will try to take a look this week.

[2022-05-10 11:03] zx8086 commented on #146
Any steps / instructions on this ?

[2022-05-10 12:11] rcjsuen commented on #146
Perhaps [this document](https://github.com/open-telemetry/opentelemetry-cpp/blob/54abc2741b10efef07f786bb5200fd9112b191bb/INSTALL.md) may be of use to you.

[2022-05-10 18:06] longwuyuan commented on #141
@esigo thanks tons. Wanted to repeat clear opinion that if you can raise a similar PR in our repo, will be much obliged and grateful.

[2022-05-10 18:54] esigo commented on #141
Hi @longwuyuan, sure I'm working on it.

[2022-05-10 18:56] longwuyuan commented on #141
@esigo Thank you very much. Its a huge help

[2022-05-11 15:24] mahaisong commented on #141
Have you solved this problem? Can your image make ot work normally? I hope you succeed.

[2022-05-11 15:37] longwuyuan commented on #141
hi @mahaisong, This is work in progress as you can see from the comments. I think the problem will be solved in a few weeks.

[2022-05-13 12:26] rcjsuen commented on #105
@domyway I gave 2619b5e0edf56872d5883325a3079c13c25dceac a try. From some simple testing looks like the `ngx.location.capture` case is good but the `internal` case is not.

[code]

[2022-05-13 12:27] rcjsuen commented on #105
[code]

[2022-05-14 10:44] esigo commented on #141
https://github.com/kubernetes/ingress-nginx/pull/8585

[2022-05-14 14:12] esigo commented on #141
@mahaisong FYI https://github.com/kubernetes/ingress-nginx/pull/8585

[2022-05-14 14:12] esigo commented on #141
@longwuyuan please close the issue if it's fixed.

[2022-05-16 09:25] jmadureira commented on #143
@phillipuniverse I came across the same problem and the problem seems to be that the `auth_request` is evaluated before the `opentelemetry_propagate`.
You can try to run the following example:
- configure the otel to be parent_based
- configure a location on nginx that sets the `opentelemetry_propagate` then proxy passes the request to your `/` location.

You should see on your logs 3 requests wit

[2022-05-18 13:56] phillipuniverse commented on #143
@jmadureira this is probably what's going on, I will let you know when I have a chance to test this.

What you're saying is to move the `opentelemetry_propagate` inside the routes like:

[code]

[2022-05-19 06:49] longwuyuan commented on #141
Hi @esigo ,

Apologies for troubling again but we are having problems making progress. After merging your PR in ingress-nginx, the CI there is failing to build the opentelemetry image stating checksum error on downloading src tgz
[code]
https://github.com/kubernetes/ingress-nginx/issues/8437#issuecomment-1131293067

https://00f74ba44b89321eca01421360815588dc1fba736b-apidata.googleusercontent.com/d

[2022-05-20 00:29] longwuyuan commented on #141
https://github.com/kubernetes/k8s.io/pull/3746. we have a successful build . Much much gratitude @esigo

/close

[2022-05-20 00:29] #141 closed

[2022-05-22 09:33] zx8086 commented on #146
@rcjsuen @owent   Step 5 & Incorporating into an existing CMake Project, is where i am getting stuck... where and what parameters needed to ensure the headers are installed in the right place to otel_ngx_module.cpp to pick up all the headers created via the opentelemetry-cpp instructions, which i completed without issues.

[2022-05-22 18:10] owent commented on #146
You should add `<install_root>` of opentelemetry-cpp to cmake search path when building otel_ngx_module.
For example:

[code]

See https://cmake.org/cmake/help/latest/command/find_package.html for details.

[2022-06-02 14:11] dgolombek opened #173 "Frequent Coredumps in NGINX"
**Describe your environment**

Ubuntu 18.04
NGINX 1.21.6 (built using a modified version of https://launchpad.net/~ondrej/+archive/ubuntu/nginx-mainline -- NGINX backported to Ubuntu 18)
GRPC Version v1.36.4
OpenTelemetry-cpp 1.4.0
OpenTelemetry-cpp-contrib main

See https://gist.github.com/dgolombek/0800c77d4a4dd17369fba13ae49d2cd2 for the Dockerfile used to build nginx plugin shared library (tak

[2022-06-02 14:57] rcjsuen commented on #173
Are you using `internal` requests? From my testing that is still broken. See https://github.com/open-telemetry/opentelemetry-cpp-contrib/issues/105#issuecomment-1126002534.

[2022-06-04 02:10] zhuizhuhaomeng opened #175 "cannot find -lnlohmann_json::nlohmann_json"
**Describe your environment**
Rocky8/ cmake 3.20.2

when build the nginx module
[code]

[2022-06-04 03:25] phillipuniverse commented on #143
@jmadureira I still can't quite get this to work event with moving in the `opentelemetry_propagate` inside of a location before the `auth_request`.

What exactly did you mean by this?

[2022-06-04 13:36] zhuizhuhaomeng commented on #175
need to build opentelemetry-cpp with -DWITH_OTLP_HTTP=OFF

[2022-06-04 13:36] #175 closed

[2022-06-05 07:36] zhuizhuhaomeng commented on #39
https://github.com/yangxikun/opentelemetry-lua

[2022-06-08 14:56] david-perez-martin opened #176 "build.gradle fix for Apache 2.4 in otel-webserver-module"
Hi

I was working with the webserver-module and compiling it to test it and found a problem.

#0 53.23 > Task :configureApache24 FAILED
#0 53.23 checking for chosen layout... Apache
#0 53.23 checking for working mkdir -p... yes
#0 53.23 checking for grep that handles long lines and -e... /bin/grep
#0 53.23 checking for egrep... /bin/grep -E
#0 53.23 checking build system type... x86_64-unknown-lin

[2022-06-24 15:48] david-perez-martin commented on #176
Hi @DebajitDas
Is the default profile (centos6). I used the "docker-compose build" command.

I modified the Dockerfile to stop when the Apache24 was compiling, to ssh into the container, and fix the gradle script. After fixing the container I executed again the "docker compose -t webserver ." and "docker build -t webserver ." to finish the process.

[2022-06-24 15:58] david-perez-martin commented on #176
Hi @kpratyus
The gradle fails always because the APR lib is not copied before compiling Apache2.4

If you check the gradle file, for Apache2.2 the APR lib is copied just before compiling, I guess that in your test you're using this version instead of Apache2.4, and works for you.

Is that possible?

[2022-06-27 07:54] #131 closed

[2022-06-27 09:04] DebajitDas commented on #176
@david-perez-martin We have added the CI and all the builds are successful for centos6, centos7 and ubuntu20.04 (https://github.com/open-telemetry/opentelemetry-cpp-contrib/actions/runs/2567650521). Ideally, the same APR files is used for configuring, therefore, configureApache24 should work because its previous task configureApache22 has already copied the APR to the right directory. Still wonder

[2022-06-28 20:18] phillipuniverse commented on #143
@DebajitDas thanks for the clarification in #174 about what that is designed to fix. Is the idea that eventually the `nginx` plugin goes away in favor of the `otel-webserver-module` and thus the issue I outlined here becomes moot? Or is the long-term strategy to continue to invest in the main `nginx` instrumentation?

I'm trying to figure out if I should roll up my sleeves and try to figure out wh

[2022-06-30 18:51] iquirino commented on #84
I am building nginx docker images, so, I dont know which one each project will use.
Do I need to make two different versions of the docker container or is it possible to use these two options at the same time?

[2022-07-01 06:20] luozenglin opened #184 "Failed to run the demo"
**Describe your environment**
macOS v11.2.3 M1
docker-compose v1.29.2

**Steps to reproduce**
[code]

**What is the expected behavior?**
What did you expect to see?

**What is the actual behavior?**
[code]

**Additional context**
Add any other context about the problem here.

[2022-07-04 11:13] DebajitDas commented on #184
I think you need to raise this issue on "opentelemetry-collector-contrib" instead of "opentelemetry-cpp-contrib"?

[2022-07-13 12:52] Symbianx commented on #105
We also hit this issue with the following config:
[code]
Sending a request to `/analytics` triggers a 301 response to `/analytics/` as described in the docs:

Moreover, using the trace id variable in the `add_header` directive causes the request to completely fail without response. Curl outputs the following:
[code]

[2022-07-19 15:39] Symbianx commented on #105
Was able to fix the reproduction use cases described here with #190.

[2022-07-20 13:01] phillipuniverse opened #192 "Publish .so artifacts from the otel-webserver-module"
**Is your feature request related to a problem?**
No, usability only.

**Describe the solution you'd like**

It would be really nice if the `otel-webserver-module` published the final built `.so` artifacts somewhere. The current nginx and httpd instrumentation publish them as action artifacts, [example](https://github.com/open-telemetry/opentelemetry-cpp-contrib/actions/runs/2533678779):

<img wid

[2022-07-22 17:17] pnvnd commented on #176
I followed the instructions here: https://opentelemetry.io/blog/2022/instrument-apache-httpd-server/#installing-opentelemetry-module-in-target-system

[code]

This is the error I get when I run `docker-compose --profile centos7 build`:
[code]
On another note, since these take about an hour to build, can `opentelemetry-webserver-sdk-x64-linux.tgz` be uploaded to the GitHub releases to save time bui

[2022-07-25 04:42] DebajitDas commented on #176
@pnvnd Thanks for raising this concern. Let me look at  this and will get back on the build.
Yes, we have a plan to make a release this month and package would be available there.
Currently, On every merge to main, we are building on centos7 and the package can be downloaded from
https://github.com/open-telemetry/opentelemetry-cpp-contrib/actions/runs/2711112662#artifacts

Hope this helps.

[2022-07-25 06:35] DebajitDas commented on #192
@phillipuniverse
This has been already taken care and artifacts are published on every github actions on 'otel-webserver-module'. Please find the same here https://github.com/open-telemetry/opentelemetry-cpp-contrib/actions/runs/2711112662

[2022-07-25 10:14] DebajitDas commented on #192
@phillipuniverse we are updating the README with more details https://github.com/open-telemetry/opentelemetry-cpp-contrib/pull/196

Thanks for your suggestion.

[2022-07-25 10:40] DebajitDas commented on #176
Hi @pnvnd, I have tried locally but I am able to build successfully. However, I have submitted a potential issue in dockerfile. Also, our CI builds are successful.
However, you can use https://github.com/open-telemetry/opentelemetry-cpp-contrib/actions/workflows/webserver.yml?query=event%3Apush+branch%3Amain to download any recent builds in main.

[2022-07-26 02:52] phillipuniverse commented on #192
@DebajitDas awesome! README updates look great!!

[2022-07-26 09:59] david-perez-martin commented on #176
Hi

For me failed with profile default I guess. I tried again with centos7 profile and worked fine.
![image](https://user-images.githubusercontent.com/107130284/180979568-b5cc068c-4b71-4c16-b803-a8533d487810.png)

BTW: For WSL users is very important to modify .wslconfig file and add this property to allow centos compilation.
kernelCommandLine = vsyscall=emulate

[2022-07-26 13:38] #139 closed

[2022-07-27 15:00] pnvnd opened #198 "ApacheModuleOtelExporterHeaders for OTEL_EXPORTER_OTLP_HEADERS"
**Is your feature request related to a problem?**
Is there a way to configure `OTEL_EXPORTER_OTLP_HEADERS` with the Apache Module?  The current version works wonderfully with Jaeger. I can change my `ApacheModuleOtelExporterEndpoint` to Jaeger running in Docker on my local machine, and the traces show up as expected.  However, I'd like to send data to other endpoints that require an API key in the

[2022-07-28 09:23] jmadureira opened #199 "Nginx 1.22.0 doesn't start with OpenTelemetry enabled"
**Describe your environment**
The issue was detected when using:

- nginx:1.22.0-alpine
- opentelemetry-cpp v.1.2.0
- latest version of the nginx instrumentation

**Steps to reproduce**
It is possible to reproduce using the following Dockerfile and nginx.conf sample:
[code]

[code]

**What is the expected behavior?**
Nginx should start normally

**What is the actual behavior?**
Nginx logs the foll

[2022-07-29 07:38] DebajitDas commented on #192
@phillipuniverse We have made a release tag for webserver and the same can be downloaded from https://github.com/open-telemetry/opentelemetry-cpp-contrib/releases/tag/webserver%2Fv1.0.0

[2022-07-29 07:39] #192 closed

[2022-07-29 07:39] DebajitDas commented on #192
Closing this issue as the requirement has been addressed.

[2022-07-29 08:34] DebajitDas commented on #198
Thanks @pnvnd for raising this. Let me evaluate this and take this forward.

CC: @kpratyus

[2022-07-29 11:49] phillipuniverse commented on #192
Really awesome stuff @DebajitDas thank you! I can’t wait to really try this out and give further feedback!!

[2022-07-30 22:43] phillipuniverse opened #201 "Cannot load otel-webserver-module with Nginx 1.21.6"
**Describe your environment**

Docker with `FROM nginx:1.21.6`

**Steps to reproduce**

Included the build `ngx_http_opentelemery_module.so` like this:

[code]

output was:

[code]

Nginx then immediately died.

**What is the expected behavior?**

Nginx started.

**What is the actual behavior?**

Nginx fails to start.

**Additional context**

[2022-08-03 05:24] #122 closed

[2022-08-03 05:25] DebajitDas commented on #122
Closing as not required now

[2022-08-08 12:56] zhzure opened #202 "enormous undefined error when cmake"
i'm sorry raise this issue, i have been struggling for days and still don't know how to solve this

[code]

**and i build protobuf like**

[code]

**error msg like, and seems hundreds more**
[code]

[2022-08-09 03:30] phillipuniverse commented on #201
The error message (and in the [readme](https://github.com/open-telemetry/opentelemetry-cpp-contrib/tree/main/instrumentation/otel-webserver-module#nginx-webserver-module)) implies that this only works with Nginx 1.18.0. According to [this endoflife.date](https://endoflife.date/nginx), 1.18 was announced end of life April 2021, over a year ago.

[2022-09-01 01:02] kamalmarhubi opened #208 "Status of otel_ngx_module vs otel-webserver-module is unclear"
The status of these two different ways to get opentelemetry into nginx is pretty unclear. They have entirely separate authors, and are both have recent-ish updates.

@seemk @tobiasstadler @DebajitDas @kpratyus as the primary contributors to the two modules: could you help clear this up a bit? Will they coexist?

[2022-09-02 14:08] jmadureira commented on #199
Seems to be addressed in PR #205.

[2022-09-02 17:39] lalitb commented on #208
@kamalmarhubi  - Both will co-exists as long as they are maintained. Would suggest you use one which suits your requirements.

[2022-09-05 19:21] lalitb commented on #208
Closing this issue, please reopen if you still have any questions.

[2022-09-05 19:21] #208 closed

[2022-09-06 08:49] adilhusain-s opened #212 "opentelemetry-cpp-contrib nginx instrumentation test cases are failing on linux/ppc64le arch"
Hi there,
I'm trying to build-test the nginx instrumentation on linux/ppc64le VM.
the test cases are failing because the otel/opentelemetry-collector:0.26.0 docker image isnt' available for ppc64le.
the support for ppc64le was added in v0.57.2.
but when I test nginx instrumentation with otel/opentelemetry-collector:0.58.0, the test cases are failing with following error.
18) test HTTP upstream | s

[2022-09-08 09:07] DebajitDas commented on #199
@jmadureira #205 takes care of "instrumentation/otel-webserver-module" directory which also has opentelemetry module for nginx.
This issue is referred to "intrumentation/nginx" directory, #205 does not take care of that.

[2022-09-15 05:55] adilhusain-s commented on #212
do we have any plan to upgrade the opentelemetry-collector docker image in nginx instrumentation?

[2022-09-27 16:01] SaschaBrechmannVHV opened #215 "License Header in OTEL Webserver Modules shows all "Appdynamics" License"
**Describe your environment**
The Header of the OTEL Webserver Module files shows all "Appdynamics License".
See Screenshot at the end

**What is the expected behavior?**
Should we Change Appdynamics to Opentelemetry or some thing?

**What is the actual behavior?**
Do not see content from the commercial "upstream" project

**Additional context**
![image](https://user-images.githubusercontent.com/7

[2022-09-27 16:05] SaschaBrechmannVHV opened #216 "const / variable often named "appd" or "appdynamics". Should named "otel" or "opentelemetry" or "otel_web_sdk""
**Describe your environment**
Many of the variables in this project are named like "appd_you_name_it" or "appdynamics_you_name_it".

**Steps to reproduce**
Describe exactly how to reproduce the error. Include a code sample if applicable.

**What is the expected behavior?**
Should named "otel" or "opentelemetry" or "otel_web_sdk"

**What is the actual behavior?**
What did you see instead?

**Additi

[2022-09-28 04:59] DebajitDas commented on #216
Thanks for raising this, we will take this up.

[2022-09-28 05:01] DebajitDas commented on #215
Hi @kpratyus, please check this with Cisco stakeholders.

[2022-09-30 10:08] rcjsuen commented on #199
[code]
We have the same problem with `k8s.gcr.io/ingress-nginx/controller:v1.3.0` which looks to be on 1.19.10 so I don't think this problem is unique to Nginx 1.22.0.

[2022-09-30 10:15] esigo commented on #199
you may check my PR on nginx repo https://github.com/kubernetes/ingress-nginx/pull/9062.

[2022-09-30 10:47] rcjsuen commented on #199
@esigo Yeah, I also came across https://github.com/kubernetes/ingress-nginx/pull/8585 and https://github.com/kubernetes/ingress-nginx/pull/9017 while trying to figure out this `symbol not found` error.

At this rate it might be better to just wait for the official release of OpenTelemetry support in the Nginx controller in my case.

[2022-09-30 17:56] rcjsuen commented on #199
Compiling gRPC manually seems like a workaround...? 🤔
[code]

[2022-09-30 18:04] esigo commented on #199
The symbols were not found for k8s-nginx mainly because the shared libraries were not copied over to the controller container from the init container:
https://github.com/kubernetes/ingress-nginx/blob/50be2bf95fd1ef480420e2aa1d6c5c7c138c95ea/images/opentelemetry/rootfs/Dockerfile#L38-L45

[2022-09-30 18:14] rcjsuen commented on #199
Yeah, I went down the path of manual compiling gRPC because I saw that in the [ingress controller project](https://github.com/kubernetes/ingress-nginx/blob/50be2bf95fd1ef480420e2aa1d6c5c7c138c95ea/images/opentelemetry/rootfs/build.sh#L68-L81).

[2022-10-03 10:55] rcjsuen commented on #199
Thanks for verifying, @jmadureira!

Agreed. This step burns through a lot of compute resources in the CI pipeline. Not sure if this is an issue with Alpine itself or what. There may also be additional cmake flags that could be configured to reduce the compilation time some more... 🤔

[2022-10-06 08:19] NaurisSadovskis opened #219 "NGINX: Allow overriding `opentelemetry_trace_id` from within the config"
**Is your feature request related to a problem?**
We use Google Load Balancers which add a vendor specific header (`X-Cloud-Trace-Context`) to our requests. It seems compatible with W3C format, but OTEL library does not detect it as it's not supported and creates a new span which gets passed down the line (together with Google header), resulting in two separate traces which are not connected.

To

[2022-10-06 09:55] svrnm commented on #219
Have you tried the otel-webserver-module for nginx as an alternative?

https://github.com/open-telemetry/opentelemetry-cpp-contrib/tree/main/instrumentation/otel-webserver-module

[2022-10-06 10:29] NaurisSadovskis commented on #219
I have not, but it seems it also does not support overriding incoming headers to construct new ones ?

[2022-10-07 06:40] svrnm commented on #219
@DebajitDas , @kpratyus : can you comment on that?

[2022-10-07 08:39] kpratyus commented on #219
If the header has same key then it will support overriding

[2022-10-07 08:43] kpratyus commented on #219
If the key name of Tracecontext coming from Google Load Balancer is same as the opentelemetry specification than the tracecontext will be overridden. Is the key name "X-Cloud-Trace-Context"  because what otel is using is different?

[2022-10-07 11:58] NaurisSadovskis commented on #219
@kpratyus exactly - Google Load Balancers do not use `traceparent` header and in our chain the conversion needs to happen in NGINX so we also can instrument the entire flow. Currently NGINX spans are missing as we're propagating Google header down the line since Python/etc has support for it.

After the initial post, I've tried using [openresty/headers-more-nginx-module](https://github.com/openres

[2022-10-08 15:15] kpratyus commented on #219
@NaurisSadovskis The otel specification says that "traceparent" key should be used for context propogation. So unless there is a change in otel specification the agents are forced to use "traceparent" as key.

[2022-10-10 06:50] svrnm commented on #219
I am not 100% sure how C++ does it in opentelemetry, but I think what is needed first, is general support for a cloud trace propagators like other languages have it, then ideally there should be a [composite propagator](https://opentelemetry.io/docs/reference/specification/context/api-propagators/#composite-propagator) that allows combination and then nginx module could support them

[2022-10-10 06:53] svrnm commented on #219
For reference, right now there is b3, trace context & jaeger for C++:

https://github.com/open-telemetry/opentelemetry-cpp/tree/703576c0b8e59d321d544cabde1cff89b92c8436/api/include/opentelemetry/trace/propagation

[2022-10-11 11:23] DebajitDas commented on #201
Released a new version supporting stable (1.22.0) and mainline (1.23.0) https://github.com/open-telemetry/opentelemetry-cpp-contrib/releases/tag/webserver%2Fv1.0.2 of nginx. 1.18.0 is no longer supported.

[2022-10-11 11:24] DebajitDas commented on #201
Closing this issue.

[2022-10-11 11:24] #201 closed

[2022-10-17 20:58] pollosp commented on #198
I think something happens for nginx module. I couldn't see OTEL_EXPORTER_OTLP_HEADERS into the nginx config options https://github.com/open-telemetry/opentelemetry-cpp-contrib/tree/main/instrumentation/otel-webserver-module#configuration-1 and would be nice to have it. Thanks 🙏

[2022-10-18 16:25] eguzki opened #223 "nginx instrumentation build cannot be loaded with undefined symbol errors"
**Describe your environment**

Linux x86_64 (on registry.access.redhat.com/ubi8:8.5 image)

[code]

**Steps to reproduce**
Build nginx instrumentation as dynamic module when building nginx

[code]
The module gets built

**What is the expected behavior?**
otel_ngx_module.so being loaded by
[code]

**What is the actual behavior?**
Some symbol provided by protobuf lib is missing
[code]

**Additional

[2022-10-18 16:34] esigo commented on #223
This should be duplicate of #199.
FYI https://github.com/kubernetes/ingress-nginx/issues/9016.

[2022-10-20 15:19] eguzki commented on #223
First of all, thanks a lot for your prompt response.

I might be wrong (very likely), but I think that #199 does not follow the same building approach that we are trying. In https://github.com/open-telemetry/opentelemetry-cpp-contrib/issues/199 the nginx-otel module shared library is compiled/linked using CMAKE, whereas our approach is based on configure script from the nginx/openresty.

[code]
Do

[2022-10-24 11:35] eguzki commented on #223
**Solved** linking gRPC and opentelemetry-cpp libraries as shared objects instead of statically linked.

gRPC compiled as
[code]

Note the ` -DBUILD_SHARED_LIBS=ON` flags

Opentelemetry-cpp compiled as
[code]

Note the ` -DBUILD_SHARED_LIBS=ON` flags

With this approach, the release consists of a bunch of `.so` shared objcts instead of a single `otel_ngx_module.so`, but good enough.

Thanks for su

[2022-10-24 11:35] #223 closed

[2022-10-28 02:32] fdiskbrain opened #225 "Otel-webserver-module unexpected error logs"
**Unexpected error log occurred when using nginx directly to return response.**

***NginxModuleTraceAsError*** also turn off

Nginx: v1.22.0
otel-webserver-module: v1.0.2

---
Error logs
[code]
---
Nginx config
[code]
otel-webserver-module config
[code]

**What is the expected behavior?**
There have no error logs

[2022-11-03 07:51] longwuyuan commented on #125
All done by "@esigo" in ingress-nginx

[2022-11-03 07:51] #125 closed

[2022-11-03 15:31] mihn opened #229 "Which nginx is the future?"
Hello,
Can you tell me which nginx instrumentation `nginx` or `otel-webserver-module` is going to be supported in the future - because I cannot figure it out on my own.
`nginx` one has features that I like (ability to block incoming span), but `otel-webserver-module` is featured on OTel Blog and suportes latest nginx releases.
So which is it?

Thank you for your attention.

[2022-11-03 17:09] esigo commented on #229
`otel-webserver-module` is the one that is actively maintained now.

[2022-11-03 23:50] DrLuke opened #232 "nginx: Configure custom resource attributes"
As a user I'd like to define custom resource attributes (like [`deployment.environment`](https://github.com/open-telemetry/opentelemetry-cpp-contrib/blob/main/instrumentation/nginx/test/conf/otel-nginx.toml)) with both the [module directives](https://github.com/open-telemetry/opentelemetry-cpp-contrib/blob/bd4a9c169414e5b1140920ee283fd9e0f0e079f5/instrumentation/otel-webserver-module/src/nginx/ngx

[2022-11-07 09:56] DebajitDas commented on #215
Updated the License Information. PR is https://github.com/open-telemetry/opentelemetry-cpp-contrib/pull/233
Hence closing the ticket

[2022-11-07 09:56] #215 closed

[2022-11-10 19:19] esigo commented on #199
Hi,
here is the solution with static link:
https://github.com/kubernetes/ingress-nginx/pull/9286

[2022-11-16 07:47] kpratyus commented on #219
But OTEL agents can only handle "traceparent" as the key not "X-Cloud-Trace-Context"

[2022-11-16 10:17] devnewton opened #237 "How to use on Red Hat 9 with nginx ?"
I try to use opentelemetry for [rhel9/nginx120](https://catalog.redhat.com/software/containers/rhel9/nginx-120/61a609e4bfd4a5234d596286) with a derived [docker image](https://github.com/open-telemetry/opentelemetry-cpp-contrib/files/10020601/docker.zip) to add opentelemetry module.

[code]

One of the dependency is not available for Red Hat 9 : libnsl.so.1

Is this library mandatory for openteleme

[2022-11-16 11:14] konicasaini opened #238 "To enable mtls support on client opentelemtry-cpp side."
**Is your feature request related to a problem?**
Wanted to setup mtls connection between opentelemetry collector and opentelemetry-cpp client.

But was receiving error like
[code]

Upon research found out there is no mtls support from opentelemetry-cpp client side to enable connection with otel collector.

**Steps to reproduce Issue**
otel config should be:
[code]
Run Client as following:
[code]

[2022-11-16 11:18] NaurisSadovskis commented on #219
Hi @kpratyus, just to update this thread - we have found a temporary workaround by using and modifying [headers-more](https://www.nginx.com/resources/wiki/modules/headers_more/) module (see below) to run at an earlier stage and build up a valid `traceparent` from the incoming `X-Cloud-Trace-Context` header. This causes this OTEL library to correctly pick up the header and propagate it.

We have al

[2022-11-18 09:42] DebajitDas commented on #237
Yes @devnewton, this is necessary for nginx module to work. There is indirect dependency on libnsl from otel nginx module.
In our dev setup, this dependency seems available and auto installed.

Also, I see you are trying to use nginx:1.20 version. FYI, the latest package from ```otel-webserver-module``` supports only 1.22.0 (stable) and 1.23.0, 1.23.1 (mainline) versions. Since 1.22.0 is EOL, ther

[2022-11-18 10:39] konicasaini commented on #238
New issue created:  https://github.com/open-telemetry/opentelemetry-cpp/issues/1785
Closing this one.

[2022-11-18 10:39] #238 closed